
html {
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(to bottom, #aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
    background-repeat: no-repeat;
    height: 100%;
    /* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.no-cssgradients {
    background-color: #aaa;
}

html * {
    margin: 0;
}

body {
    background-color: #F5F5F5;
    color: #333333;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    -moz-box-shadow: 0 0 0.3em #424649;
    -webkit-box-shadow: 0 0 0.3em #424649;
    box-shadow: 0 0 0.3em #424649;
}



.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

.navbar-dark, .navbar-static-top {
    background-color: rgb(0, 39, 76);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.navbar { margin-bottom: 0 }


.navbar-brand {
    background-color: #00264c;
    transform: translateX(-50%);
    left: 20%;
    position: absolute;
    width: 250px; /* no height needed ... image will resize automagically */

    margin-bottom: 10px;
    margin-right: 1rem;
    navbar-margin-bottom:10px;


}

a.navbar-brand {
    color: white !important;
    font-size: 31px !important;
}

* {
    box-sizing: border-box;
}
.openBtn {
    display: flex;
    justify-content: left;
}
.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
}
.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 40%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    background-color: lightblue;
}
.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: lightblue;
}
.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}
.formContainer .cancel {
    background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}

.footnote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #777777;

}

.figure-caption {
    font-size: 90%;
    color: black !important;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

