{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="form-group text-justify p-5">
<span class="text">The five ML methods used are random forest, k-nearest neighbors,
      Gaussian Naïve Bayes, support vector machine, and elastic net logistic regression. Each can be
       performed with 3 different gene sets as features containing 7, 168, and 960 genes, respectively.
       By default, all ML methods and the 2 larger gene sets are used. The 7 gene set is only recommended
       if the full transcriptome is not available.
       </br></br>Batch effects, if present, are adjusted using ComBat. The classifier has been validated using RNA-seq
       data from a mixture of fresh frozen and FFPE tumor samples. Compared to the original clustering-based
       subtype definition, it correctly classifies all original 18 UM and 66 TCGA samples tested.
   </span>
</div>






<br/> <br/>



{% csrf_token %}


{% endblock %}








