{% load static %}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'jobinput/main.css' %}">

    <!-- Bootstrap CSS -->
    <script src="{% static 'jobinput/js/jquery-3.5.1.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'jobinput/main.css' %}">
    <script src="{% static 'jobinput/js/selection.js' %}"></script>





    <title> IMU/KRT tumor classiMolecular Tumor Subtype Classification Tool for HPV-associated Head and Neck Cancer Samples</title>
</head>
<body>
<div class="navbar navbar-static-top pb-2" role="navigation">
    <div class="navbar-header mb-4">

        <a class="navbar-brand mx-auto mb-1" href="/" style="text-decoration:none;color: white; font-size: xx-large">Molecular Tumor Subtype Classification Tool for HPV-associated Head and Neck Cancer Samples
        </a>
        <a class="navbar-brand mx-auto" href="/#">
            <a class="navbar-center" href="https://sph.umich.edu/precision-health-data-science/" target="_blank"><img src="" alt="" style="height:auto; width: 12em;" /></a>

        </a>

    </div>
    <br/>
    <br/>


</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link"  href="/MGI-freeze3/phenotypes">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link"  href="/MGI-freeze3/top_hits">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link"  href="/MGI-freeze3/about">About</a>
            </li>


        </ul>
    </div>
</nav>
<main role="main" class="container bg-white ">
    <div class="row ">
        <div class="well well-lg ">

        Error with the job please check with administrator to see error.

        </div>


    </div>
    </div>
</main>

{% block content %}





</div>




<br/> <br/>



{% csrf_token %}
<span class="col-md-1 col-md-offset-2 text-center"></span>
<div class="col-md-8">


</div>



</div>

</div>



</fieldset>



</div>

{% endblock %}

</body>
</html>







