{% load static %}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'jobinput/main.css' %}">

    <!-- Bootstrap CSS -->
    <script src="{% static 'jobinput/js/jquery-3.5.1.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'jobinput/main.css' %}">
    <script src="{% static 'jobinput/js/selection.js' %}"></script>





    <title> IMU/KRT tumor classiMolecular Tumor Subtype Classification Tool for HPV-associated Head and Neck Cancer Samples</title>
</head>
<body>
<div class="navbar navbar-static-top pb-2" role="navigation">
    <div class="navbar-header mb-4 flex-wrap: wrap;">

        <a class="navbar-brand mx-auto mb-1 text-wrap" href="/" style="text-decoration:none;color: white; font-size: xx-large">Molecular Tumor Subtype Classification Tool for HPV-associated Head and Neck Cancer Samples
        </a>
        <a class="navbar-brand mx-auto" href="/#">
            <a class="navbar-center" href="https://sph.umich.edu/precision-health-data-science/" target="_blank"><img src="" alt="" style="height:auto; width: 12em;" /></a>

        </a>

    </div>
    <br/>
    <br/>


</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link"  href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link"  href="/MGI-freeze3/top_hits">Contacts</a>
            </li>



        </ul>
    <br/>

    </div>
</nav>
<div class="row justify-content-center p-2">
    <h3 class="text-center">Welcome to the Subtype Classification Tool for HPV+ HNSCC samples!</h3>
</div>
<main role="main" class="container bg-white ">
    <div class="row ">

        <table>
            <tr>
                <td>
                    <b>Input: </b>	Bulk RNA-seq data (batch information optional)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Output:</b>  Subtype classification for each sample with supporting visualizations
                </td>
            </tr>
        </table>




        <div class="well well-lg ">

            <form id="form" method="POST">

                <fieldset>

                    <div class="form-group text-justify p-2">


                        <figure class="figure">
                         <figcaption class="figure-caption" style="caption-side: top;">How this Classification tool works</figcaption>
                        <img src="{% static 'jobinput/images/figure2.png' %}" class="img-fluid img-thumbnail rounded mx-auto d-block " alt="Figure 1"  >

                        </figure>
                        </br>
                        </br>
                        <b>Background:</b>
                        HPV-associated head and neck squamous cell carcinomas (HNSCCs) are classified into two main tumor subtypes: IMU and KRT, which have been validated by several studies.  Knowing the subtype of each tumor is important for research, due to their distinct tumor biology and clinical outcomes.

                        This IMU/KRT classifier uses five well-trained machine learning (ML) models with majority voting to classify the subtype of each HPV+ HNSCC sample.
                        </br>
                        <p style="text-align: center">
                        <img src="{% static 'jobinput/images/figure1.png' %}" class="img-thumbnail" alt="Figure 2"  width="70%" >
                        </p>


<br>
                        <b>Warning:</b> this tool should be used for research purposes only. It was not developed for clinical use.
                        <!-- <div id="more">
                             <a href="#" onclick="expandAdvancedOptions()">more</a>
                         </div>-->


                    </br>



                        <div class="form-group row  p-4">
                            <div class="col-md-11 col-sm-11 text-center">
                                <label class="p-2"> <b>Step 1 : Run Preprocessing Steps</b></label>
                            </div>

                            <table>
                                <tr class="p-2">
                                    <td nowrap>
                                        <label class="pb-2" for="pcasel" style="vertical-align:center"> <b>Indicate file type</b>  </label>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name = "logcpm" id="logcpm1" value="1"  >
                                            <label class="form-check-label" for="logcpm1">Log2cpm matrix</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name = "logcpm" id="logcpm2" value="0"  >
                                            <label class="form-check-label" for="logcpm2">Count Matrix</label>
                                        </div>



                                    </td>
                                </tr>

                                <tr>
                                    <td style="vertical-align:top">
                                        <label class="pb-4">
                                            <b>Select input file   </b>  </label>
                                    </td>
                                    <td>
                                        <input id="uploadfile" type="file" name="uploadfile" size="30"
                                               class="formObject">
                                        <br>
                                        <span class="footnote">Input data should be a single file (csv/tab delimited) file either containing raw RNA-seq counts (e.g. from HTSeq or featureCounts) or log2cpm (e.g. from edgeR) values. The first row must be the unique sample IDs and the first column must be the gene symbols. A sample file is available here. Note: Do not include any identifiable information.
                    </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="vertical-align:top">
                                        <label class="pb-4"><b>Do you have multiple batches?  </b>  </label>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="batcheff" id="b1" value="1" onclick="selectcpm(this)">
                                            <label class="form-check-label" for="inlineCheckbox2">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">

                                            <input class="form-check-input" type="radio" name="batcheff" id="b2" value="0" onclick="selectcpm(this)" >
                                            <label class="form-check-label" for="inlineCheckbox2">No</label>
                                        </div>
                                        <br>
                                        <span class="footnote">Upload data for all batches in one file above, and here upload (tab delimited or csv) a  file indicating the batch for each sample. The first column of the file should match the sample names in the first row of the input data file, and the second column should indicate the batch number.</span>

                                    </td>



                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <div id="rangeCheck">

                                        </div>
                                    </td>
                                </tr>





                                <tr>
                                    <td nowrap rowspan="2" style="vertical-align:top">
                                        <label class="pb-1" for="pcasel"> <b>Include pre-loaded additional samples?</b>  </label>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input pt-1" type="radio" name="preloads" id="preload1" value="1" >
                                            <label class="form-check-label" for="inlineCheckbox2">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="preloads" id="preload2" value="0" >
                                            <label class="form-check-label" for="inlineCheckbox2">No</label>
                                        </div>
                                        <br>


                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="footnote">We recommend including our 18 original HPV+ RNA-seq samples (8 IMU, 10 KRT, from GEO #GSE74956) if your sample size is 12 or fewer, or if your cohort could be heavily biased toward KRT or IMU (e.g. from patients with any characteristic high correlated with subtype). These 18 samples can also serve as a good validation cohort. If chosen, ComBat will be used to remove the batch effect between these 18 samples and the uploaded dataset.
                    </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="col-md-12 col-sm-12 text-center pt-3">
                                            <input  type="submit" name="submit" value="Run step 1">
                                        </div>
                                    </td>

                                </tr>
                            </table>
                            <div id="outputfile2" style="display: none";>



                                Step 1 a is done now runnign the step 2 </a>
                            </div>

                            <div id="outputfile" style="display: none";>

                                {{foldername}}

                                {{pcadata}}

                                log2cpmmatrix matrix created in step1: <a href="{% url 'download_file' %}?uuidno={{foldername}}" type="button">Download Matrix</a>
                            </div>
                        </div>




                    </div>
                </fieldset>
            </form>

            <script>
                $('#form').on('submit', function(e){

                    e.preventDefault();
                    console.log("hurray");


                    var ctoken = '{{ csrf_token }}';
                    console.log($('#uploadfile')[0].files[0]);

                    var formData = new FormData();
                    formData.append('uploadfile', $('#uploadfile')[0].files[0]);
                    formData.append('csrfmiddlewaretoken', ctoken);
                    formData.append('batcheff', $('input[name="batcheff"]:checked').val());
                    formData.append('logcpm', $('input[name="logcpm"]:checked').val());
                    formData.append('preloads', $('input[name="preloads"]:checked').val());

                    var fileb = document.getElementById('batchfile');
                    console.log(fileb);
                    console.log();

                    batcheff = $('input[name="batcheff"]:checked').val();



                    if(batcheff == 0) {
                        console.log("got the batch file is selected not ");
                        formData.append('batchfilestatus','NULL');
                    }
                    else
                    {
                        formData.append('batchfilestatus','yes');
                        formData.append('batchfile', $('#batchfile')[0].files[0]);

                    }



                    $.ajax({
                        timeout: 1000000,
                        beforeSend: function(){
                            document.getElementById("mybox").innerHTML = '<div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>';
                            $('.progress-bar').animate({width: "30%"}, 100);
                        },
                        type : "POST",
                        url: "{% url 'jobsubmit' %}",
                        data : formData,

                        /*data: {
                            uploadfile : $('#uploadfile').val(),
                            batcheff : 'no',
                            logcpm : 'yes',
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            dataType: "json",

                        },*/

                        success: function(response){
                            $('#output').html(response) /* response message */
                            $('.progress-bar').animate({width: "50%"}, 100);
                            setTimeout(function(){
                                $('.progress-bar').css({width: "100%"});
                                setTimeout(function(){
                                    $('.my-box').html(response);
                                }, 100);
                            }, 500);

                            console.log("Thankyou for reaching us out " + response.foldername);
                            console.log("Thankyou for reaching us out " + response.res);

                            var res = response.res;
                             foldename = response.foldername;
                             batchremovalornot= response.batchremovalornot;

                            if(res == 1)
                            {

                                document.getElementById("mybox").innerHTML = "Sorry job failed . Contact admin for more details";

                            }








                        },
                        complete: function () {
                            console.log("its in the complete log");

                            if(batchremovalornot == 'combat')
                            {

                                console.log('foldename :', foldename);
                                document.getElementById("mybox").innerHTML = "<p>preprocessing step 1 is done and running the Preprocessing step 2 </p>";

                                    runStep2(foldename);
                            }
                            else
                            {

                                $("#outputfile").show();
                                var step2 =
                                    '<div class="form-group border m-4"><b>' +
                                    '<form action="runclassifier" id="step2form" method="POST">' +

                                    '<div class="col-lg-10 col-md-12 col-sm-12 text-center">\n' +
                                    '<label class="p-2"> <b>Step 2:Run Subtype Classification</b></label>\n' +
                                    '<br><div class="p-2"><input type="submit" name="submit" value="Run step 2"></div>'+
                                    '</div>' +
                                    '<input type="hidden" id="outputfile" name="outputfile" value="'+foldename+ '">'+
                                    '{% csrf_token %}' +
                                    '</div>'+
                                    '</form>';

                                document.getElementById("mybox").innerHTML = step2;
                            }





                        },

                        failure: function() {
                            alert("Sorry job failed");

                        },
                        processData: false,
                        contentType: false


                    });


                });


                function runStep2(foldername){
                    console.log(foldername);
                    console.log(batchremovalornot);
                    //alert(foldername);
                    var ctoken = '{{ csrf_token }}';
                    var formData = new FormData();
                    formData.append('foldername', foldername);
                    formData.append('csrfmiddlewaretoken', ctoken);
                    formData.append('batchremovalornot', batchremovalornot);
                    formData.append('logcpm', $('input[name="logcpm"]:checked').val());
                    formData.append('preloads', $('input[name="preloads"]:checked').val());

                    var fileb = document.getElementById('batchfile');



                    batcheff = $('input[name="batcheff"]:checked').val();

                    if(batcheff == 0) {
                        alert("no file selected")

                    }


                    if(batcheff == 0) {
                        console.log("got the batch file is selected not ");
                        formData.append('batchfilestatus','NULL');
                    }
                    else
                    {
                        formData.append('batchfilestatus','yes');
                        formData.append('batchfile', $('#batchfile')[0].files[0].name);

                    }

                    $.ajax({
                        timeout: 1000000,
                        beforeSend: function(){
                            document.getElementById("mybox").innerHTML = '<div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>';
                            $('.progress-bar').animate({width: "30%"}, 100);
                        },
                        type : "POST",
                        url: "{% url 'runstepone' %}",
                        data : formData,

                        /*data: {
                            uploadfile : $('#uploadfile').val(),
                            batcheff : 'no',
                            logcpm : 'yes',
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            dataType: "json",

                        },*/

                        success: function(response){
                            $('#output').html(response) /* response message */
                            $('.progress-bar').animate({width: "100%"}, 100);
                            setTimeout(function(){
                                $('.progress-bar').css({width: "100%"});
                                setTimeout(function(){
                                    $('.my-box').html(response);
                                }, 100);
                            }, 500);

                            console.log("Thankyou for reaching us out " + response.foldername);
                            console.log("Thankyou for reaching us out " + response.res);

                            var res = response.res;
                            foldename = response.foldername;
                            batchremovalornot= response.batchremovalornot;

                            if(res == 1)
                            {

                                document.getElementById("mybox").innerHTML = "Sorry job failed . Contact admin for more details";

                            }








                        },
                        complete: function () {
                            console.log("its in the complete log");



                            console.log("batchremovalornot",batchremovalornot);
                            console.log("foldename",foldename);



                                $("#outputfile").show();
                                var step2 =
                                    '<div class="form-group border m-4"><b>' +
                                    '<form action="runclassifier" id="step2form" method="POST">' +

                                    '<div class="col-lg-10 col-md-12 col-sm-12 text-center">\n' +
                                    '<label class="p-2"> <b>Step 2:Run Subtype Classification</b></label>\n' +
                                    '<br><div class="p-2"><input type="submit" name="submit" value="Run step 2"></div>'+
                                    '</div>' +
                                    '<input type="hidden" id="outputfile" name="outputfile" value="'+foldename+ '">'+
                                    '{% csrf_token %}' +
                                    '</div>'+
                                    '</form>';

                                document.getElementById("mybox").innerHTML = step2;






                        },

                        failure: function() {
                            alert("Sorry job failed");

                        },
                        processData: false,
                        contentType: false


                    });





                }


            </script>

            <div id='loader' style='display: none;'>
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>

            <input type="hidden" id="imageid" name="imageid" value={{uuid}}>



            <div id="mybox">

            </div>











            <div class="form-group text-justify p-5">
                <label class="pr-4" for="pcasel"> <b>Supporting Citation</b>  </label>
                <ul>
                    <li>Zhang Y, et al. Subtypes of HPV-positive head and neck cancers are associated with HPV characteristics, copy number alterations, PIK3CA mutation, and pathway signatures. Clinical Cancer Research. 2016. 22(18):4735-45.</li>
                    <li>Leemans CR, Snijders PJF, Brakenhoff RH. The molecular landscape of head and neck cancer. Nat Rev Cancer. 2018;18(5):269-82.</li>
                    <li>Qin T, Li S, Henry LE, Liu S, Sartor MA. Molecular Tumor Subtypes of HPV-Positive Head and Neck Cancers: Biological Characteristics and Implications for Clinical Outcomes. 2021; 13(11):2721.</li>
                </ul>
            </div>
        </div>


    </div>
    </div>
</main>

{% block content %}





</div>




<br/> <br/>



{% csrf_token %}
<span class="col-md-1 col-md-offset-2 text-center"></span>
<div class="col-md-8">


</div>



</div>

</div>



</fieldset>



</div>

{% endblock %}

</body>
</html>







