{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row justify-content-center p-2">
    <h3 class="text-center">Welcome to the Subtype Classification Tool for HPV+ HNSCC samples!</h3>
</div>
<main role="main" class="container bg-white ">
    <div class="row ">

        <table>
            <tr>
                <td>
                    <b>Input: </b>	Bulk RNA-seq data (batch information optional)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Output:</b>  Subtype classification for each sample with supporting visualizations
                </td>
            </tr>
        </table>




        <div class="well well-lg ">

            <form id="form" method="POST">

                <fieldset>

                    <div class="form-group text-justify p-2">


                        <figure class="figure">
                         <figcaption class="figure-caption" style="caption-side: top;">How this Classification tool works</figcaption>
                        <img src="{% static 'jobinput/images/figure2.png' %}" class="img-fluid img-thumbnail rounded mx-auto d-block " alt="Figure 1"  >

                        </figure>
                        </br>
                        </br>
                        <b>Background:</b>
                        HPV-associated head and neck squamous cell carcinomas (HNSCCs) are classified into two main tumor subtypes: IMU and KRT, which have been validated by several studies.  Knowing the subtype of each tumor is important for research, due to their distinct tumor biology and clinical outcomes.

                        This IMU/KRT classifier uses five well-trained machine learning (ML) models with majority voting to classify the subtype of each HPV+ HNSCC sample.
                        </br>
                        <p style="text-align: center">
                        <img src="{% static 'jobinput/images/figure1.png' %}" class="img-thumbnail" alt="Figure 2"  width="70%" >
                        </p>


<br>
                        <b>Warning:</b> This tool should be used for research purposes only. It was not developed for clinical use.
                        <!-- <div id="more">
                             <a href="#" onclick="expandAdvancedOptions()">more</a>
                         </div>-->


                    </br>



                        <div class="form-group row  p-4">
                            <div class="col-md-11 col-sm-11 text-center">
                                <label class="p-2"> <b>Step 1 : Run Preprocessing Steps</b></label>
                            </div>

                            <table>
                                <tr class="p-2">
                                    <td nowrap>
                                        <label class="pb-2" for="pcasel" style="vertical-align:center"> <b>Indicate file type</b>  </label>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name = "logcpm" id="logcpm1" value="1"  >
                                            <label class="form-check-label" for="logcpm1">Log2cpm matrix</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name = "logcpm" id="logcpm2" value="0"  >
                                            <label class="form-check-label" for="logcpm2">Count Matrix</label>
                                        </div>
                                        <div id="error-message" style="color: red;"></div>



                                    </td>
                                </tr>

                                <tr>
                                    <td style="vertical-align:top">
                                        <label class="pb-4">
                                            <b>Select input file   </b>  </label>
                                    </td>
                                    <td>
                                        <input id="uploadfile" type="file" name="uploadfile" size="30"
                                               class="formObject">
                                        <br>
                                        <span class="footnote">Input data should be a single file (csv/tab delimited)  either containing raw RNA-seq counts (e.g. from HTSeq or featureCounts) or log2cpm (e.g. from edgeR) values. The first row must be the unique sample IDs and the first column must be the gene symbols. A sample file is available  <a href="/downloadgeneset?filename=sample.csv" download>here</a>. Note: Do not include any identifiable information.
                    </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="vertical-align:top">
                                        <label class="pb-4"><b>Do you have multiple batches?  </b>  </label>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="batcheff" id="b1" value="1" onclick="selectcpm(this)">
                                            <label class="form-check-label" for="inlineCheckbox2">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">

                                            <input class="form-check-input" type="radio" name="batcheff" id="b2" value="0" onclick="selectcpm(this)" >
                                            <label class="form-check-label" for="inlineCheckbox2">No</label>
                                        </div>
                                        <br>
                                        <span class="footnote">Upload data for all batches in one file above, and here upload (tab delimited or csv) a  file indicating the batch for each sample. The first column of the file should match the sample names in the first row of the input data file, and the second column should indicate the batch number.</span>

                                    </td>



                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <div id="rangeCheck">

                                        </div>
                                    </td>
                                </tr>





                                <tr>
                                    <td nowrap rowspan="2" style="vertical-align:top">
                                        <label class="pb-1" for="pcasel"> <b>Include pre-loaded additional samples?</b>  </label>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input pt-1" type="radio" name="preloads" id="preload1" value="1" >
                                            <label class="form-check-label" for="inlineCheckbox2">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="preloads" id="preload2" value="0" >
                                            <label class="form-check-label" for="inlineCheckbox2">No</label>
                                        </div>
                                        <br>


                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="footnote">We recommend including our 18 original HPV+ RNA-seq samples (8 IMU, 10 KRT, from GEO #GSE74956) if your sample size is 12 or fewer, or if your cohort could be heavily biased toward KRT or IMU (e.g. from patients with any characteristic highly correlated with subtype, for example patients with high TILS.) These 18 samples can also serve as a good validation cohort. If chosen, ComBat will be used to remove the batch effect between these 18 samples and the uploaded dataset.
                    </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="col-md-12 col-sm-12 text-center pt-3">
                                            <input  type="submit" name="submit" value="Run step 1">
                                        </div>
                                    </td>

                                </tr>
                            </table>

                        </div>

                        <div id="outputfile2" style="display: none";>
                            Step 1 a is done now runnign the step 2 </a>
                        </div>

                        <div id="outputfile">
                        </div>




                    </div>
                </fieldset>
                {% csrf_token %}
            </form>

            <script>
                $('#form').on('submit', function(e){

                    e.preventDefault();
                    var ctoken = '{{ csrf_token }}';

                    var excelFile = document.getElementById('uploadfile').files[0];
                    console.log(excelFile);

                    if (!excelFile) {
                        document.getElementById('error-message').textContent = 'Please select a file to upload.';
                        return;
                    }

                    var formData = new FormData();
                    formData.append('uploadfile', $('#uploadfile')[0].files[0]);
                    formData.append('csrfmiddlewaretoken', ctoken);
                    formData.append('batcheff', $('input[name="batcheff"]:checked').val());
                    formData.append('logcpm', $('input[name="logcpm"]:checked').val());
                    formData.append('preloads', $('input[name="preloads"]:checked').val());
                    var fileb = document.getElementById('batchfile');
                    batcheff = $('input[name="batcheff"]:checked').val();
                    if(batcheff == 0) {

                        formData.append('batchfilestatus','NULL');
                    }
                    else
                    {
                        formData.append('batchfilestatus','yes');
                        formData.append('batchfile', $('#batchfile')[0].files[0]);

                    }

                    $.ajax({
                        timeout: 1000000,
                        beforeSend: function(){
                            document.getElementById("mybox").innerHTML = '<div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>';
                            $('.progress-bar').animate({width: "30%"}, 100);

                        },
                        type : "POST",
                        url: "{% url 'jobsubmit' %}",
                        data : formData,
                        success: function(response){
                            $('#output').html(response);/* response message */

                            setTimeout(function(){
                                $('.progress-bar').css({width: "70%"});

                                setTimeout(function(){
                                    $('.my-box').html(response);
                                }, 100);
                            }, 500);

                                 res = response.res;
                             foldename = response.foldername;
                             batchremovalornot= response.batchremovalornot;
                             finalperc= response.finalperc;
                             pcajson1 = response.pcajson;
                             parsedData = JSON.stringify(pcajson1);
                             parsedObject = JSON.parse(parsedData);
                             warning = parsedObject.warning;
                             console.log(res);
                            console.log(res.type);


                        },
                        complete: function () {

                            if(res == '1')
                            {
                                console.log("in res lopp");
                                document.getElementById("mybox").innerHTML = "Sorry job failed . Contact admin for more details";
                            }
                            else
                            {
                                if(batchremovalornot == 'combat')
                                {
                                    setTimeout(function(){
                                            //$('.progress-bar').css({width: "50%"});
                                            setTimeout(function(){
                                                var testsen='<p>Finished standardizing matrix format; now removing batch effects. </p>'+'<div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>';

                                                document.getElementById("mybox").innerHTML = testsen;
                                                $('.progress-bar').css({width: "50%"});
                                            }, 100);
                                        }, 2

                                    );

                                    runStep2(foldename);
                                }
                                else
                                {


                                    var downloadUrl = '/downloadfile?uuid='+foldename+"&batchr="+batchremovalornot;
                                    var linkText = 'Download Matrix';
                                    var anchorElement ='';

                                    if(warning == 0)
                                    {

                                        anchorElement += "<p class=\"text-warning\">\"Warnings: Less than 30% of genes used for training detected, the classifier may generate bias results! ;\"</p>"
                                    }

                                    anchorElement += '<hr>Total '+finalperc+' genes matched.<br/> Download log2cpmmatrix matrix created in step1 here: <a href='+downloadUrl+' type="button">'+linkText+'</a>';


                                    var downloadLinkContainer = document.getElementById('outputfile');
                                    downloadLinkContainer.innerHTML = anchorElement;






                                    var step2 =

                                        '<div class="form-group  m-4"><b>' +
                                        '<form action="runclassifier" id="step2form" method="GET">' +

                                        '<div class="col-lg-12 col-md-12 col-sm-12 text-center">\n' +
                                        '<label class="p-2"> Step 2 : Run Subtype Classification</label>\n' +
                                        '<br>' +

                                        '<div class="col-md-12 col-sm-12 text-center pt-3">'+

                                        '<input class="p-2" type="submit" name="submit" value="Run step 2 "></div>'+
                                        '</div>' +
                                        '<input id="batchremovalornot" hidden name="batchremovalornot" value="'+batchremovalornot+ '">'+
                                        '<input id="outputfile"  hidden name="outputfile" value="'+foldename+ '">'+
                                        '{% csrf_token %}' +
                                        '</div>'+
                                        '</form>';

                                    document.getElementById("mybox").innerHTML = step2;
                                }
                            }
                        },

                        failure: function() {
                            alert("Sorry job failed");

                        },
                        processData: false,
                        contentType: false
                    });


                });


                function runStep2(foldername){
                    console.log(foldername);
                    console.log(batchremovalornot);
                    //alert(foldername);
                    var ctoken = '{{ csrf_token }}';
                    var formData = new FormData();
                    formData.append('foldername', foldername);
                    formData.append('csrfmiddlewaretoken', ctoken);
                    formData.append('batchremovalornot', batchremovalornot);
                    formData.append('logcpm', $('input[name="logcpm"]:checked').val());
                    formData.append('preloads', $('input[name="preloads"]:checked').val());

                    var fileb = document.getElementById('batchfile');
                    batcheff = $('input[name="batcheff"]:checked').val();
                    if(batcheff == 0) {

                        formData.append('batchfilestatus','NULL');
                    }
                    else
                    {
                        formData.append('batchfilestatus','yes');
                        formData.append('batchfile', $('#batchfile')[0].files[0].name);

                    }

                    $.ajax({
                        timeout: 1000000,
                        type : "POST",
                        beforeSend: function(){
                            document.getElementById("mybox").innerHTML = '<div class="progress"><div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>';
                            $('.progress-bar').animate({width: "90%"}, 100);
                        },
                        url: "{% url 'runstepone' %}",
                        data : formData,

                        /*data: {
                            uploadfile : $('#uploadfile').val(),
                            batcheff : 'no',
                            logcpm : 'yes',
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            dataType: "json",

                        },*/

                        success: function(response){
                            $('#output').html(response) ;/* response message */

                            setTimeout(function(){
                                $('.progress-bar').css({width: "100%"});
                                setTimeout(function(){
                                    $('.my-box').html(response);
                                }, 100);
                            }, 500);

                            console.log("Thankyou for reaching us out " + response.foldername);
                            console.log("Thankyou for reaching us out " + response.res);

                            var res = response.res;
                            foldename = response.foldername;
                            batchremovalornot= response.batchremovalornot;
                            finalperc= response.finalperc;
                            pcajson1 = response.pcajson;
                            parsedData = JSON.stringify(pcajson1);
                            parsedObject = JSON.parse(parsedData);
                            warning = parsedObject.warning;
                            console.log("warning",warning);

                            if(res == 1)
                            {

                                document.getElementById("mybox").innerHTML = "Sorry job failed . Contact admin for more details";

                            }

                        },
                        complete: function () {
                            var downloadUrl = '/downloadfile?uuid='+foldename+"&batchr="+batchremovalornot;
                            var linkText = 'Download Matrix';
                            var anchorElement ='';

                            if(warning == 0)
                            {

                                anchorElement += "<p class=\"text-warning\">Warnings: Less than 30% of genes used for training detected, the classifier may generate bias results! ;</p>"
                            }

                            anchorElement += '<hr>Total '+finalperc+' genes matched.<br/> Download log2cpmmatrix matrix created in step1 here: <a href='+downloadUrl+' type="button">'+linkText+'</a>';
                            var downloadLinkContainer = document.getElementById('outputfile');
                            downloadLinkContainer.innerHTML = anchorElement;

                            var step2 =
                                    '<div class="form-group m-4"><b>' +
                                    '<form action="runclassifier" id="step2form" method="GET">' +

                                    '<div class="col-lg-12 col-md-12 col-sm-12 text-center">\n' +
                                    '<label class="p-2"> Step 2 : Run Subtype Classification</label>\n' +
                                    '<br><div class="p-2"><input type="submit" name="submit" value="Run step 2"></div>'+
                                    '</div>' +
                                    '<input id="batchremovalornot" hidden name="batchremovalornot" value="'+batchremovalornot+ '">'+
                                    '<input id="outputfile"  hidden name="outputfile" value="'+foldename+ '">'+
                                    '{% csrf_token %}' +
                                    '</div>'+
                                    '</form>';

                                document.getElementById("mybox").innerHTML = step2;






                        },

                        failure: function() {
                            alert("Sorry job failed");

                        },
                        processData: false,
                        contentType: false


                    });





                }


            </script>

            <div id='loader' style='display: none;'>
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>

            <input type="hidden" id="imageid" name="imageid" value={{uuid}}>



            <div id="mybox">

            </div>











            <div class="form-group text-justify p-5">
                <label class="pr-4" for="pcasel"> <b>Supporting Citations</b>  </label>
                <ul>
                    <li>In Progress</li>
                    <li>Zhang Y, et al. Subtypes of HPV-positive head and neck cancers are associated with HPV characteristics, copy number alterations, PIK3CA mutation, and pathway signatures. Clinical Cancer Research. 2016. 22(18):4735-45.</li>
                    <li>Leemans CR, Snijders PJF, Brakenhoff RH. The molecular landscape of head and neck cancer. Nat Rev Cancer. 2018;18(5):269-82.</li>
                    <li>Qin T, Li S, Henry LE, Liu S, Sartor MA. Molecular Tumor Subtypes of HPV-Positive Head and Neck Cancers: Biological Characteristics and Implications for Clinical Outcomes. 2021; 13(11):2721.</li>
                </ul>
            </div>
        </div>


    </div>
    </div>
</main>







</div>



{% csrf_token %}



</div>

</div>



</fieldset>



</div>


{% endblock %}







