
{% extends "base.html" %}
{% load static %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>



<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#pca">PCA</a></li>
    <li><a data-toggle="tab" href="#heatmap">Heatmap</a></li>
    <li><a data-toggle="tab" href="#tabletab">Table</a></li>
    <li><a data-toggle="tab" href="#plotly">Plotly</a></li>
</ul>

<div class="col-md-8">

    <div class="tab-content">
        <div id="pca" class="tab-pane fade in active">
            <h3>PCA Plot</h3>
            <img src="{% static 'jobinput/images/output1.png' %}" class="img-fluid img-thumbnail" alt="My image" max>
        </div>
        <div id="heatmap" class="tab-pane fade">
            <h3>Heatmap</h3>
            <img src="{% static 'jobinput/images/output2.png' %}" class="img-fluid img-thumbnail" alt="My image">
        </div>
        <div id="tabletab" class="tab-pane fade">
            <h3>Table</h3>
            <table class="table table-striped">
                {%for item in list%}
                <tr>
                    <td>
                        1:{{item.split.0}}
                    </td>
                    <td>
                        2: {{item.split.1}}
                    </td>
                </tr>




                {% endfor %}
            </table>

              </div>
        <div id="plotly" class="tab-pane fade">
            <h3>Heatmap</h3>
            <title>Clustergrammer.js</title>



            <link rel="shortcut icon" href="img/graham_cracker.ico"  type="image/x-icon">

            <link rel="stylesheet" href="{% static 'jobinput/css/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'jobinput/css/bootstrap.css' %}">
            <link rel="stylesheet" href="{% static 'jobinput/css/custom.css' %} ">

            <style type="text/css">

                /* Sticky footer styles
                -------------------------------------------------- */
                html, body {
                    max-width: 100%;
                    overflow-x:hidden;
                }

                /* Wrapper for page content to push down footer */
                /* Negative indent footer by its height */
                /* Pad bottom by footer height */
                #wrap {
                    min-height: 100%;
                    min-width: 800px;
                }

                /* Set the fixed height of the footer here */
                #footer {
                    height: 60px;
                    background-color: #f5f5f5;
                    text-align: center;
                    background-color: #f5f5f5;
                    font-size: 13px;
                    padding-left:10px;
                    padding-right:10px;
                    margin-top: 50px;
                }

                #footer_text_container{
                    margin-top: 10px;
                    margin-bottom: 0px;
                    min-width: 950px;
                }

                .clustergrammer_container{
                    width: 1140px;
                    height: 750px;
                    margin-bottom: 10px;
                    overflow: hidden;
                }

                .viz_title{
                    width: 100%;
                    font-size: 30px;
                    font-weight: 300;
                    /*margin-left: -10px;*/
                    margin-top: 10px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #DEDEDE;
                }

                .viz_description{
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 10px;
                    margin-left: 5px;
                    margin-right: 20px;
                    text-align: justify;
                    margin-bottom: 30px;
                }

            </style>


            </head>


            <div id='container-id-1'>
                <h1 class='wait_message'>Please wait ...</h1>
            </div>



            <script src="{% static 'jobinput/js/d3.js' %}"></script>
            <script src="{% static 'jobinput/js/jquery-1.11.2.min.js' %}"></script>
            <script src="{% static 'jobinput/js/underscore-min.js' %}"></script>
            <script src="{% static 'jobinput/js/bootstrap.js' %}"></script>





            <!-- Clustergrammer JS -->
            <script src="{% static 'jobinput/js/clustergrammer.js' %}"></script>

            <!-- optional modules -->
            <script src="{% static 'jobinput/js/Enrichrgram.js' %} "></script>
            <script src="{% static 'jobinput/js/hzome_functions.js' %}"></script>
            <script src="{% static 'jobinput/js/send_to_Enrichr.js' %}"></script>

            <!-- make clustergram -->
            <script src="{% static 'jobinput/js/load_clustergram.js' %}"></script>

        </div>

</div>
<script>
    $(function () {
        $('#myTab li:last-child a').tab('show')
    })
</script>





        {% endblock content %}








